/*
CSS for CRIMR web application.
Graham Earley, Eric Walker, Charlie Imhoff
CRIMR Studios, 2014

Inspired by Jeff's CSS, which was inspired by Jadrian's CSS.

*/

@import url('http://fonts.googleapis.com/css?family=Lato|Play');

#crimeScore {
  width: 50%;
  float: center;
  margin: 0em 0em 0em 6%;
  padding: 7px 7px 7px 7px;;
}

body {
  background-color: #ececec;
  color: #2c3e50;
  line-height: 135%;
  margin: 3% 6% 0em 3%;
  font-family: 'Lato', sans;
  font-size: 91%;
}

h1 {
  font-family: 'Play', sans;
  font-weight: normal;
  color: #c0392b;
  margin: 0px;
  padding: 0px;
  font-size: 180%;
  line-height: 1em;
}

#crimescore {
  font-weight: bold;
  color: #e74c3c;
  font-size: 200%;
  padding: 5px;
}

h2 {
  font-family: 'Play', sans;
  font-weight: normal;
  color: #c0392b;
  margin: 0px;
  padding: 10px 0px 0px 0px;
  font-size: 150%;
  line-height: 1em;
}

#crimescore-head {
  color: #34495e;
  font-size: 160%;
}

h3 {
  font-family: 'Play', sans;
  font-weight: bold;
  color: #34495e;
  margin: 0px;
  padding: 20px 0px 0px 0px;
  font-size: 130%;
  line-height: 1em;
}

table, th, td {
   border: 1px solid #7f8c8d;
   border-collapse: collapse;
}

input {
  line-height: 1em;
}

input[type="text"] {
  width: 6in;
}

a:visited {
  color: #2980b9;
  text-decoration: underline;
}

a:hover {
  background-color: #ecf0f1;
  text-decoration: underline;
  cursor: pointer;
}
