<form action="index.py" method="get">
      <!-- Text Search Box -->
      <p><input type="text" name="search" value="[[SEARCH]]" /></p>

      <!-- Dropdowns for narrowing down search -->
      <!-- District -->
      <p>
      <select name="district" id="district">
        <option value="*all*">All Districts</option>
        <option value="tenderloin">Tenderloin</option>
        <option value="central">Central</option>
        <option value="bayview">Bayview</option>
        <option value="ingleside">Ingleside</option>
        <option value="mission">Mission</option>
        <option value="northern">Northern</option>
        <option value="park">Park</option>
        <option value="southern">Southern</option>
        <option value="taraval">Taraval</option>
        <option value="richmond">Richmond</option>
      </select>

      <!-- Category -->
      <select name="category" id="category">
        <option value="*all*">All Categories</option>
        <!-- Built using the database due to potential for new categories: -->
        [[CATEGORIES_SELECT_FORM_OPTIONS]]
      </select>

      <!-- Days of Week -->
      <select name="day" id="day">
        <option value="*all*">All Days</option>
        <option value="sunday">Sunday</option>
        <option value="monday">Monday</option>
        <option value="tuesday">Tuesday</option>
        <option value="wednesday">Wednesday</option>
        <option value="thursday">Thursday</option>
        <option value="friday">Friday</option>
        <option value="saturday">Saturday</option>
      </select>

      <!-- Status -->
      <!-- resolution types flagged with * represent special searches to CrimeDataFetcher: -->
      <select name="resolution" id="resolution">
        <option value="*all*">All Statuses</option>
        <option value="*resolved*">Resolved</option> #special case
        <option value="*unresolved*">Unresolved</option>
        <option value="arrest">Arrest</option>
        <option value="book">Booking</option>
        <option value="cite">Citing</option>
        <option value="psychopathic">Psychopathic Case</option>
        <option value="not prosecute">Not Prosecuted</option>
      </select>
      <input type="submit" value="Find Crime" />
      </p>
    </form>
